.button {
  padding: 20px;
  margin: 8px;
  font-size: 30px;
  border: 2px solid black;
  border-radius: 25px;
  cursor: pointer;
  background-image: linear-gradient(to right, #0fafe4 0%, #bdbfdb 100%);
  width: 80px;
}

.resize00 {
  padding: 20px 12px;
  margin-right: 12px;
}

.toprow {
  font-size: 29px;
  padding: 18px;
  width: 181px;
}

.input {
  border: 2px solid black;
  border-radius: 25px;
  height: 60px;
  font-size: 40px;
  text-align: end;
  width: 375px;
  margin-top: 50px;
}
